<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "http://mybatis.org/dtd/mybatis-3-mapper.dtd" "mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.UserDAO">

    <!--查所有  分页-->
    <select id="findAll" resultType="User">
        select id,name,iphone,head,brief,score,create_date createDate,state,sex,city
        from yx_user
        limit #{start},#{rows}
    </select>

    <!--查数据库所有数据-->
    <select id="totalCounts" resultType="Integer">
        select count(*)
        from yx_user
    </select>

    <!--  修改  -->
    <update id="update" parameterType="User">
        update yx_user
        set
        id=#{id},
        name=#{name},
        iphone=#{iphone},
        head=#{head},
        brief=#{brief},
        score=#{score},
        create_date=#{createDate},
        state=#{state}
        sex=#{sex}
        city=#{city}
        where
        id = #{id}
    </update>
<!--  查一个  -->
    <select id="queryOne" parameterType="String" resultType="User">
        select id,name,iphone,head,brief,score,create_date createDate,state,sex,city
        from yx_user
        where id = #{id}
    </select>


    <!--查所有  -->
    <select id="queryAll" resultType="User">
        select id,name,iphone,head,brief,score,create_date createDate,state,sex,city
        from yx_user
    </select>

<!--      增加      -->

    <!--查各个性别 分布的 地区-->
    <select id="queryAllSexCity" resultType="com.baizhi.entity.City" parameterType="String">
        select city name,count(*) value
        from yx_user
        where sex = #{sex}
        group by city
    </select>

    <!--查每个月  各个性别 的注册人数-->
    <select id="queryAllMonth" resultType="User">
        select concat(month(create_date),'月') months,count(*) counts
        from yx_user
        where sex = #{sex} and month(create_date) like #{month}
        group by month(create_date)
    </select>

</mapper>